<h2>Dynamic chart settings</h2>
<p>
    <label>Palette:</label>
    <select onchange={{action "changePalette" value="target.value"}}>
        {{#each paletteOptions as |palette|}}
            <option value="{{palette}}">{{palette}}</option>
        {{/each}}
    </select>
</p>

{{ember-anychart instance=model.chart}}
{{outlet}}
