<h2>Chart with dynamic settings</h2>
<p>If you change some setting of AnyChart chart instance, it is applied dynamically.</p>
<p>In this sample we change chart palette using select input and processing the <i>onchange</i> event in a proper controller
  <i>ember-anychart\tests\dummy\app\controllers\dynamic.js</i></p>
<p>
    <label>Palette:</label>
    <select onchange={{action "changePalette" value="target.value"}}>
        {{#each paletteOptions as |palette|}}
            <option value="{{palette}}">{{palette}}</option>
        {{/each}}
    </select>
</p>
{{ember-anychart instance=model.chart}}
{{outlet}}
